@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&family=Quicksand:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

body {
    font-size: 16px;
}

a {
    min-width: 44px;
    min-height: 44px;
}

.link-skip {
    position: absolute;
    top: -60px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
}

.link-skip:focus {
    top: 0;
}

.container {
    padding: 1rem;
}

.navbar {
    background-color: transparent;
    position: sticky;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
}

.navbar img {
    margin-top: 8px;
    align-items: center;
}

.logo-website {
    box-sizing: border-box;
    align-self: flex-start;
}

.nav-items {
    display: inline-block;
    text-align: right;
    padding: 0 20px;
    list-style: none;
}

.nav-items a {
    padding: 10px 5px;
    text-decoration: none;
    line-height: 44px;
    min-width: 44px;
    min-height: 44px;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}

.nav-items-mobile a {
    line-height: 44px;
    min-width: 44px;
    min-height: 44px;
    box-sizing: border-box;
}

.nav-items a:hover {
    color: #b2dfdb;
}


/* jumbotron */

.jumbotron {
    display: grid;
    width: 100%;
    min-height: 500px;
    background: linear-gradient( 0deg, rgb( 0 0 0 / 70%), rgb( 0 0 0 / 60%)), url(/images/heros/hero-image_2-small.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.hero-content {
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 15px;
}

.hero-content .hero-welcome {
    color: white;
    font-size: 1.5rem;
    margin: 0;
}

.hero-content .hero-title {
    color: white;
    font-size: 60px;
    margin: 0.5rem 0;
}

.hero-content .hero-tag {
    color: white;
    font-size: 25px;
    margin: 0;
}


/* content */

.main {
    width: 100%;
}

section {
    padding: 20px;
}

.title-restourant {
    text-align: center;
    margin-top: 50px;
}

.list-resto {
    padding: 10px;
    margin-top: 20px;
    text-align: left;
    display: grid;
    grid-row-gap: 16px;
}

.list_item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    position: relative
}

.city {
    position: absolute;
    top: 10px;
    left: 16px;
    background-color: #135ea8;
    padding: 5px 10px 5px;
    color: white;
    font-weight: 500
}

.list_item_content {
    padding: 16px
}

.list_item_thumb {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.list_item_rating {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
    text-decoration: none
}

.list_item_title a {
    text-decoration: none;
    margin-top: 10px;
    line-height: 44px;
    min-width: 44px;
    min-height: 44px;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 0px;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}

.list_item_title a:hover {
    color: #b2dfdb;
}

.list_item_title a {
    text-decoration: none;
}

.list_item_desc {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #cef;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Detail Restaurant */

article {
    padding: 50px;
}

.detail-review,
.menus,
.post-list {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
}

.post-thumbnail img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.post-list .post-item {
    box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.2);
    margin: 0rem 0rem 2rem;
}

.post-list .post-item .post-title {
    margin-bottom: 10px;
}

.post-list .post-item .post-description {
    margin: 10px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.post-item .post-title {
    text-transform: uppercase;
}

.post-item h2 {
    text-transform: uppercase;
    padding: 20px;
}

.post-item .post-title a {
    color: #000000;
    display: block;
}

.post-item .post-title a:hover {
    color: #eb0505;
}

.post-item .post-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 20px;
}

.post-item .post-header i {
    width: 1rem;
    height: 1rem;
    text-align: center;
    margin-right: .25rem;
    line-height: 1rem;
}

.restaurant .post-thumbnail img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.restaurant .post-item .post-title {
    font-size: 2rem;
}

.restaurant .post-item .post-description {
    text-align: justify;
}

.detail-review .detail-review-item {
    border-radius: 5px;
    padding: 1rem 1.5rem;
    box-shadow: 0px 0px 3px 1px #00000047;
    overflow: hidden;
    position: relative
}

.detail-review-item .review-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.detail-review-item .review-header i {
    font-size: 2rem;
    margin-right: .5rem;
    color: #7f7a7a85;
}

.detail-review-item .review-header .review-name {
    font-weight: bold;
}

.detail-review-item .review-header .review-date {
    font-size: 13px;
}

.menus {
    padding: 20px;
}

.reviews {
    width: 100%;
}

.reviews h3 {
    padding: 20px;
    ;
}


/* like */

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* footer */

#footer {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -2px 0px 0px #00000033;
    font-weight: bold;
}