<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#db0000" />
    <meta name="description" content="Rekomendasi Restoran Masseh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <title>Makan Masseh</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>

<body>
    <a href="#content" class="link-skip" tabindex="0">Skip To Content?</a>
    <!-- navbar desktop -->
    <nav class="navbar">
        <a href="" class="logo-website"> <img src="./logo/logo new.png" alt="logo web" width="160"></a>
        <div class="menu-website" id="menu-button" alt="logo button">
            <a href="#"><img src="./logo/button-nav.svg " alt="logo web" width="40px"></a>
        </div>
        <ul class="nav-list ">
            <li class="nav-items "><a href="#/home">Home</a></li>
            <li class="nav-items "><a href="#/favorite">Favorite</a> </li>
            <li class="nav-items "><a href="https://www.instagram.com/saputlp/">About Us</a> </li>
        </ul>
    </nav>
    <!-- akhir navbar desktop -->
    <!-- navbar mobile -->
    <nav class="navbar-mobile">
        <ul class="nav-list-mobile">
            <li class="nav-items-mobile"><a href="#/home">Home</a></li>
            <li class="nav-items-mobile"><a href="#/favorite">Favorite</a> </li>
            <li class="nav-items-mobile"><a href="https://www.instagram.com/saputlp/">About Us</a> </li>
        </ul>
    </nav>
    <!-- akhir navbar mobile -->
    <!-- content -->
    <main id="content" tabindex="0">
    </main>
    <!-- akhir content -->
    <!-- footer -->
    <footer id="footer">
        Copyright © 2022 - Makan Masseh
    </footer>
    <!-- akhir footer -->

</body>

</html>